@charset "ISO-8859-1";
form{
	text-align: center;
	border: 1px solid black;
	color: maroon; 
	background-color: bisque;
	width: 500px;
	height:500px;
	 
}
div{
	background-image: url("C:\Users\Admin\workspace2421\classwork\assert");
	text-align: center;
}